*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRODUCT */
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  /* BASE */
  --bg-color: #0f172a;
  --stroke-color: #1e293b;

  /* TEXTS */
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
}

html {
  font-family: "Archivo", serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

.heading1 {
  font-size: 1.5rem;
  line-height: 135%;
  font-weight: 800;
}
.heading2 {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 800;
}
.span {
  font-size: 0.875rem;
  line-height: 145%;
  font-weight: 600;
}
.text-xl {
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 800;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 145%;
  font-weight: 600;
}
.text-sm2 {
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 400;
  color: var(--text-color-secondary);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--brand-color-light);
}

/* Container block */

.container {
  max-width: 1280px;
  padding-inline: 2rem;
  margin-inline: auto;
}

main {
  margin-block: 2.5rem 5rem;
  row-gap: 5rem;
  column-gap: 2rem;

  grid-template-columns: 2fr 1.25fr;

  grid-template-areas:
    "highlights highlights"
    "weekly weekly"
    "highlights-ia aside";
}

.content-tag {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: var(--brand-color-dark);
  color: var(--text-color-primary);
  border-radius: 0.25rem;
  font-size: 0.66rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 16px rgba(2, 6, 63, 0.251);
}

@media (width <= 48em) {
  .container {
    padding-inline: 1rem;
  }
  main {
    grid-template-columns: 1fr;
    row-gap: inherit;
    column-gap: initial;
    grid-template-areas:
      "highlights"
      "weekly"
      "highlights-ia"
      " aside";
  }
}
