#highlights-ai {
  grid-area: highlights-ia;
  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 0.5rem;
  }

  @media (width <= 48em) {
    & > div > article {
      display: flex;
      flex-direction: row-reverse;

      img {
        width: auto;
      }
    }
  }
}
