#weekly {
  grid-area: weekly;
  & > div {
    grid-template-columns: repeat(4, 292px);
  }
  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    p {
      margin-top: 0.5rem;
      font-weight: 800;
    }
  }

  @media (width <= 48em) {
    margin-top: 2rem;
    & > div {
      grid-template-columns: 1fr;
    }
    img {
      height: auto;
    }
  }
}
